<tr>
<% if affichage_exemplaire render_document_show_field_value({:document => @document, :field => 'format'}), localisations %>
   <td><%= render_bouton_empruntable localisations[:empruntable] %></td>
   <td><%= localisations[:localisation] %></td>
   <td><%= localisations[:salle] %></td>
   <td><%= localisations[:cote] %></td>
   <td><%= localisations[:volume] %></td>
   <td><%= localisations[:statut] %></td>
   <td><%= localisations[:date_retour] %></td>
<% end %>
</tr>
