<tr>
<td><%= get_library_title prets['succursale'] %></td>
<td class="titre"><%= link_to prets['titre'], '/catalog/'+prets['titn'] %></td>
<td><%= date_in_french prets['date_pret'] %></td>
<td><%= date_in_french prets['date_retour'] %></td>
<td><%= prets['nb_renouvellement'] %></td>
</tr>
