<tr>
   <td><%= get_status suggestions[:status] %></td>
  <td><%= suggestions[:title] %></td>
  <td><%= suggestions[:author] %></td>
  <td><%= suggestions[:publisher] %></td>
  <td><%= suggestions[:pub_date] %></td>
  <td><%= suggestions[:isbn] %></td>
  <td><%= suggestions[:note] %></td>
  <td><%= get_library_title suggestions[:recipient] %></td>
  <td><%= suggestions[:created_at] %></td>
</tr>

