<% @page_title = "Formulaire d'identification' - #{application_name}" %>
<h1>Votre compte</h1>
<div id="compte-lecteur">
<%= mail_to 'SIGB@clermont-universite.fr', 'Contactez-nous à propos de votre compte lecteur', {:subject => 'Compte lecteur'} %>
<h2>Informations personnelles</h2>
<div id="infos-lecteur">
<span>Prénom : </span><p><%= @user.first_name %></p>
<span>Nom : </span><p><%= @user.name %></p>
<span>Email : </span><p><%= @user.email %></p>
<span>Date de naissance : </span><p><%= date_in_french @user.birthday %></p>
<span>Téléphone 1 : </span><p><%= @user.phone1 %></p>
<span>Téléphone 2 : </span><p><%= @user.phone2 %></p>
<span>Adresse 1: </span><p><%= @user.address1 %></p>
<span>Adresse 2 : </span><p><%= @user.address2 %></p>
<span>Numéro de carte : </span><p><%= @user.card_number %></p>
<span>Expiration des droits d'inscription au : </span><p><%= date_in_french @user.expir_date %></p>
</div>
<h2 id="prets">Prêts en cours</h2>
<% if !@user.prets.empty? %>
<table>
<tr>
  <td>Succursale</td>
  <td>Titre</td>
  <td>Prêté le</td>
  <td>A retourner pour le</td>
  <td>Nombre de renouvellement</td>  
</tr>
<%= render :partial => 'prets', :collection => @user.prets %>
</table>
<% else %>
<span>Vous n'avez aucun prêt en cours.</span>
<% end %>

<h2 id="reservations">Demandes de réservations</h2>
<% if !@user.reservations.empty? %>
<table>
<tr>
  <td>Succursale</td>
  <td>Titre</td>
  <td>Date d'échéance</td>
</tr>
<%= render :partial => 'reservations', :collection => @user.reservations %>
</table>
<% else %>
<span>Vous n'avez aucune réservation en cours.</span>
<% end %>

<h2 id="communications">Demandes de communications</h2>
<% if !@user.communications.empty? %>
<table>
<tr>
  <td>Succursale</td>
  <td>Titre</td>
</tr>
<%= render :partial => 'communications', :collection => @user.communications %>
</table>
<% else %>
<span>Vous n'avez aucune demande de communication en cours.</span>
<% end %>
</div>
